
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="جمعية الرازي الخيرية">
<meta name="keywords" content="جمعية,الرازي,الخيرية">
<meta name="author" content="جمعية الرازي الخيرية">

<!-- Page Title -->
<title>جمعية الرازي الخيرية</title>

<!-- Favicon and Touch Icons -->
<link href="~/assets/images/logo.png" rel="shortcut icon" type="image/png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Stylesheet -->
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="~/css/animate.css" rel="stylesheet" type="text/css">
<link href="~/css/css-plugin-collections.css" rel="stylesheet">
<!-- CSS | menuzord megamenu skins -->
<link href="~/css/menuzord-megamenu.css" rel="stylesheet">
<link id="menuzord-menu-skins" href="~/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet">
<!-- CSS | Main style file -->
<link href="~/css/style-main-rtl.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="~/css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="~/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="~/css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | RTL Layout -->
<link href="~/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css">
<link href="~/css/style-main-rtl-extra.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="~/css/style.css" rel="stylesheet" type="text/css"> -->

<!-- CSS | Theme Color -->
<link href="~/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="~/css/style.css" rel="stylesheet" type="text/css"> -->
<link href="~/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css">
<link href="~/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css">
<link href="~/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css">

<!-- external javascripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="~/js/jquery-plugin-collection.js"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="~/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="~/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
</head>
<body class="rtl">
<div id="wrapper">
  
  <!-- Header -->
  <header id="header" class="header">
    <div class="header-top bg-light sm-text-center style-bordered">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="widget">
              <i class="fa fa-clock-o text-theme-colored"></i> ساعات العمل: الأحد - الخميس: 8.00 صباحا - 2 مساء.
            </div>
          </div>
          <div class="col-md-6">
            <div class="widget">
              <ul class="list-inline pull-right flip sm-pull-none sm-text-center list-bordered">
                <li class="bg-theme-colored text-white mb-xs-5"><i class="fa fa-phone"></i> اتصل بنا على <a class="text-white" href="~/#">00963932208922</a></li>
                <li class="bg-theme-colored3 text-white mb-xs-5"><i class="fa fa-envelope-o"></i> <a class="text-white" href="~/#"><span>info@alrazi.sy</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
          <nav id="menuzord-right" class="menuzord orange no-bg">
              <a class="menuzord-brand pull-right flip mb-15" href="~/index-mp-layout1.html">
                  <img src="~/assets/images/logo.png" alt="">
               </a>
            <ul class="menuzord-menu">
              <li class="active"><a href="~/#home">الصفحة الرئيسية</a></li>
              <li class=""><a href="~/Home/Index#about">حول</a></li>
              <li class=""><a href="~/#home">آخر الأخبار</a></li>
              <li class=""><a href="~/#home">تواصل معنا</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Start main-content -->
  <div class="main-content">
            @RenderBody()
  </div>
  <!-- end main-content -->
  
  <!-- Footer -->
  <footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="~/images/bg/bg6.jpg">
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="widget dark">
            <img class="mt-5 mb-20" width="50%" height="50%" alt="" src="~/assets/images/logo.png">
            <p>203، إنفاتو مختبرات، خلف شارع أليس، ملبورن، أستراليا.</p>
            <ul class="list-inline mt-5">
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored3 mr-5"></i> <a class="text-gray" href="tel:00963932208922">00963932208922</a> </li>
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored3 mr-5"></i> <a class="text-gray" href="#footer">info@alrazi.sy</a> </li>
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored3 mr-5"></i> <a class="text-gray" href="#footer">alrazi.sy</a> </li>
            </ul>            
            <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10">
                <li><a href="https://www.facebook.com/alrazi.sy" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://wa.me/963932208922" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-3">روابط مفيدة</h4>
            <ul class="angle-double-right list-border">
                                <li><a href="https://moed.gov.sy/site/" target="_blank">وزارة التربية</a></li>
                                <li><a target="_blank" href="https://www.facebook.com/p/%D8%A7%D9%84%D8%B5%D9%81%D8%AD%D8%A9-%D8%A7%D9%84%D8%B1%D8%B3%D9%85%D9%8A%D8%A9-%D9%84%D9%88%D8%B2%D8%A7%D8%B1%D8%A9-%D8%A7%D9%84%D8%AA%D8%B1%D8%A8%D9%8A%D8%A9-%D9%81%D9%8A-%D8%A7%D9%84%D8%AC%D9%85%D9%87%D9%88%D8%B1%D9%8A%D8%A9-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9-%D8%A7%D9%84%D8%B3%D9%88%D8%B1%D9%8A%D8%A9-100064316544313/">فيسبوك وزارة التربية</a></li>
                                <li><a href="https://www.3lom4all.com/" target="_blank">علوم للجميع</a></li>
                            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-3">الاخبار المهمه</h4>
                            <div class="latest-posts" id="latest-posts">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#2b2d3b">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-12 text-black-777 m-0 sm-text-center">جميع الحقوق محفوظة @DateTime.Now.Year لصالح الرازي للتربية الخاصة
                                <a href="https://moalaakh.sy" target="_blank">Alaa Alkhawam</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="~/#"><i class="flaticon-seo-transport-3"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<script src="~/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="~/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="~/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

    <script>
        function GetLastBlogs(){
            $.ajax({
            type: 'GET',
            url: '/Home/GetLastBlogs',
            success: function (result) {
                 $("#latest-posts").empty();
                 for(var i = 0 ; i < result.length ; i++){
                     $("#latest-posts").append('<article class="post media-post clearfix pb-0 mb-10"><div class="post-right"><h5 class="post-title mt-0 mb-5"><a href="~/Home/Blog/'+result.id+'">'+result.title+'</a></h5><p class="post-date mb-0 font-12">'+result.postDate+'</p></div></article>');
                 }
            }
        });
        }
    </script>

</body>
</html>