
@{
    ViewData["Title"] = "إضافة جنسية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">إضافة جنسية</li>
                </ol>
            </div>
            <h4 class="page-title">إضافة جنسية</h4>
        </div>
    </div>
</div>
<!-- end page title -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                    {
                        @if (ViewBag.Done)
                        {
                            <p style="color:green">@ViewBag.Message</p>
                        }
                        else
                        {
                            <p style="color:red">@ViewBag.Message</p>
                        }
                    }
                    <div class="mb-3">
                        <label for="name" class="form-label">اسم الجنسية</label>
                        <input type="text" id="name" required name="name" class="form-control" placeholder="اسم الجنسية">
                    </div>

                    <div style="padding-top:20px">
                        <button type="submit" class="btn btn-primary">إضافة</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
