@model List<Employee>
@{
    ViewData["Title"] = "استعراض الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">استعراض الموظفين</li>
                </ol>
            </div>
            <h4 class="page-title">استعراض الموظفين</h4>
        </div>
    </div>
</div>
<!-- end page title -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-centered mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>اسم الموظف</th>
                            <th>اسم المستخدم</th>
                            <th>خيارات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Account.UserName</td>
                                <td>
                                    <a href="~/Edit-Employee/@item.Id">تعديل</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>