@model List<Blog>
@{
    ViewData["Title"] = "الرئيسية";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<!-- Section: home -->
<section id="home" class="divider">
    <div class="container-fluid p-0">

    <!-- START REVOLUTION SLIDER 5.0.7 -->
    <div id="rev_slider_home_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery34" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider_home" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>
            <!-- SLIDE 1 -->
            <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg5.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
            <!-- MAIN IMAGE -->
            <img src="~/images/bg/bg5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 1.00);"> 
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['200','195','160','150']" data-fontsize="['60','50','40','35']" data-lineheight="['80','75','70','45']" data-fontweight="['800','700','700','700']" data-textalign="['center','center','center','center']" data-width="['800','650','600','420']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">مرحبا بكم في الرازي للتربية الخاصة
            </div>
            <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['290','260','220','220']" data-fontsize="['16','16',16',16']" data-lineheight="['24','24','24','24']" data-fontweight="['400','400','400','400']" data-textalign="['center','center','center','center']" data-width="['800','650','600','460']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;">
                            نؤمن بأن لكل طفل حقًا في التعليم والرعاية

                        </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption rs-parallaxlevel-0" id="slide-1-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['361','321','281','295']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:0;y:0;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                            <a href="tel:00963932208922" class="btn btn-dark btn-theme-colored btn-lg">اتصل الآن</a>
            </div>
            </li>

            <!-- SLIDE 2 -->
            <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg2.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
            <!-- MAIN IMAGE -->
            <img src="~/images/bg/bg2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-2-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 1.00);"> 
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['200','195','160','160']" data-fontsize="['60','50','40','35']" data-lineheight="['80','75','70','45']" data-fontweight="['800','700','700','700']" data-textalign="['center','center','center','center']" data-width="['800','650','600','420']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">مرحبا بكم في الرازي للتربية الخاصة
            </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['290','260','220','220']" data-fontsize="['16','16',16',16']" data-lineheight="['24','24','24','24']" data-fontweight="['400','400','400','400']" data-textalign="['center','center','center','center']" data-width="['800','650','600','460']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;">
                            نرسم الابتسامة على وجوه أطفالنا بذوي الهمم.
            </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption rs-parallaxlevel-0" id="slide-2-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['361','321','281','295']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:0;y:0;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                            <a href="tel:00963932208922" class="btn btn-dark btn-theme-colored btn-lg">اتصل الآن</a>
                        </div>
            </li>

            <!-- SLIDE 3 -->
            <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg3.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
            <!-- MAIN IMAGE -->
            <img src="~/images/bg/bg3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-3-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.55);border-color:rgba(0, 0, 0, 1.00);"> 
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-3-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['200','195','160','130']" data-fontsize="['60','50','40','35']" data-lineheight="['80','75','70','45']" data-fontweight="['800','700','700','700']" data-textalign="['center','center','center','center']" data-width="['800','650','600','420']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">مرحبا بكم في الرازي للتربية الخاصة
            </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-3-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['290','260','220','220']" data-fontsize="['16','16',16',16']" data-lineheight="['24','24','24','24']" data-fontweight="['400','400','400','400']" data-textalign="['center','center','center','center']" data-width="['800','650','600','460']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;">
                            معًا نصنع مستقبلًا أكثر إشراقًا لأطفالنا
            </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption rs-parallaxlevel-0" id="slide-3-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['361','321','281','295']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:0;y:0;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                            <a href="tel:00963932208922" class="btn btn-dark btn-theme-colored btn-lg">اتصل الآن</a>
            </div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(166, 216, 236, 1.00);"></div>
        </div>
    </div>

    <!-- END REVOLUTION SLIDER -->
    <script data-cfasync="false" src="~/js/email-decode.min.js"></script><script>
        var tpj=jQuery;         
        var revapi34;
        tpj(document).ready(function() {
        if(tpj("#rev_slider_home").revolution == undefined){
            revslider_showDoubleJqueryError("#rev_slider_home");
        }else{
            revapi34 = tpj("#rev_slider_home").show().revolution({
            sliderType:"standard",
            jsFileLocation:"js/revolution-slider/js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
                keyboardNavigation:"on",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                onHoverStop:"on",
                touch:{
                touchenabled:"on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
                }
                ,
                arrows: {
                style:"zeus",
                enable:true,
                hide_onmobile:true,
                hide_under:600,
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                left: {
                    h_align:"left",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                },
                right: {
                    h_align:"right",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                }
                },
                bullets: {
                enable:true,
                hide_onmobile:true,
                hide_under:600,
                style:"metis",
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                direction:"horizontal",
                h_align:"center",
                v_align:"bottom",
                h_offset:0,
                v_offset:30,
                space:5,
                tmp:'<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>'
                }
            },
            viewPort: {
                enable:true,
                outof:"pause",
                visible_area:"80%"
            },
            responsiveLevels:[1240,1024,778,480],
            gridwidth:[1240,1024,778,480],
            gridheight:[700,550,500,450],
            lazyType:"none",
            parallax: {
                type:"scroll",
                origo:"enterpoint",
                speed:400,
                levels:[5,10,15,20,25,30,35,40,45,50],
            },
            shadow:0,
            spinner:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hiديسمبرaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
                simplifyAll:"off",
                nextSlideOnWindowFocus:"off",
                disableFocusListener:false,
            }
            });
        }
        }); /*ready*/
    </script>
    <!-- END REVOLUTION SLIDER -->
    </div>
</section>

<!-- Section: About  -->
<section id="about">
    <div class="container pb-90 pb-sm-90">
    <div class="section-content">
        <div class="row">
        <div class="col-sm-6 col-md-4">
            <h2 class="mt-0 line-height-1 line-bottom-edu">أوقات الدوام الرسمي</h2>
            <div class="owl-carousel-1col" data-nav="true">
            <div class="item">
                <div class="newcomer">
                <img src="~/images/about/4.jpg" alt="">
                <div class="newcomer-overlay">
                    <div class="newcomer-inner">
                    <h3 class="text-white">الأوقات التالية</h3>
                    <h4 class="text-white">
                                            ساعات الدوام: الأحد - الخميس: 8.00 صباحا - 2 مساء.
                    </h4>
                                        <a class="btn btn-flat btn-theme-colored font-weight-600 flip mt-10" href="tel:00963932208922">اتصل بنا</a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
                <div class="col-sm-6 col-md-4">
                    <h2 class="mt-0 mt-sm-30 line-height-1 line-bottom-edu">مرحبا بكم في الرازي للتربية الخاصة</h2>

                    <p class="font-15" id="text-content">
                        جمعية الرازي الخيرية تستقبل كافة الحالات النفسية و العصبية لمعالجة الأطفال ذوي الإعاقة ، وذلك تحت إشراف كادر طبي متخصص .<br>
                        هذه المبادرة ستساهم بشكل كبير في تقديم الدعم والرعاية اللازمة للأطفال وأسرهم ، من خلال مجموعة متنوعة من الخدمات المتخصصة للأطفال ذوي الإعاقة <br>
                        التقييم النفسي والعصبي :  لتحديد الاحتياجات الفردية لكل طفل.<br>
                        العلاج النفسي :  جلسات علاجية فردية وجماعية لدعم الصحة النفسية.<br>
                        العلاج الطبيعي والوظيفي :  لتحسين القدرات الحركية والوظيفية.<br>
                        الدعم الأسري :  تقديم المشورة والتوجيه للأسر لمساعدتهم في التعامل مع التحديات.<br>
                        <span id="more-text" style="display: none;">
                            البرامج التعليمية والتدريبية : لتطوير المهارات الأكاديمية والاجتماعية للأطفال.<br>
                            هذه الخدمات تهدف إلى تقديم رعاية شاملة ومتكاملة لتحسين جودة حياة الأطفال وأسرهم .  <br>
                            للمراجعة و الإستفسار الإتصال على الرقم ٠٩٣٢٢٠٨٩٢٣ ... ٠٩٨٨٩٨٣٢٠١<br>
                            جمعية الرازي الخيرية<br>
                            قسم التشخيص الطبي و التربوي لذوي الاعاقة<br>
                            قسم التأهيل التربوي لذوي الاعاقة<br>
                            روضة الرازي للتدخل المبكر للاطفال ذوي الاعاقة<br>
                            قسم العلاج الفيزيائي و إعادة التأهيل<br>
                            مركز طبي #مفاصل _اطفال_ أذنية _نسائية_سنية
                        </span>
                    </p>

                    <button id="toggle-btn" class="btn btn-primary" onclick="toggleText()">مشاهدة المزيد</button>
                </div>

                <script>
                    function toggleText() {
                        var moreText = document.getElementById("more-text");
                        var btn = document.getElementById("toggle-btn");

                        if (moreText.style.display === "none") {
                            moreText.style.display = "inline";
                            btn.innerText = "مشاهدة أقل";
                        } else {
                            moreText.style.display = "none";
                            btn.innerText = "مشاهدة المزيد";
                        }
                    }
                </script>
        <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h3 class="mt-0 mb-0 pt-15 pb-15 text-white text-center bg-theme-colored">في حال وجود أي استفسار</h3>
            <div class="p-20 bg-gray-lighter form-boxshadow">
            <!-- Appilication Form Start-->
            <div id="reservation_form" name="reservation_form" class="reservation-form mt-10">
                <div class="row">
                <div class="col-sm-12">
                    <div class="form-group mb-20">
                    <input placeholder="أدخل الاسم" type="text" id="reservation_name" name="reservation_name" required="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-20">
                    <input placeholder="هاتف" type="text" id="reservation_phone" name="reservation_phone" class="form-control" required="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                    <textarea placeholder="أدخل رسالة" rows="4" class="form-control required" name="form_message" id="form_message" aria-required="true"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-0 mt-10">
                    <input name="form_botcheck" class="form-control" type="hidden" value="">
                     <button type="button" id="btnAdd" onclick="AddContact()" class="btn btn-theme-colored btn-lg btn-block">ارسال الطلب</button>
                        <div id="note"></div>
                    </div>
                </div>
                </div>
            </div>
            <!-- Application Form End-->

            <!-- Application Form Validation Start-->
            <script>
                $("#reservation_form").validate({
                submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                    dataType:  'json',
                    success: function(data) {
                        if( data.status == 'true' ) {
                        $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                    }
                    });
                }
                });
            </script>
            <!-- Application Form Validation Start -->
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

<!-- Section: Mission -->
<section class="bg-lighter">
    <div class="container pb-70 pb-sm-60">
    <div class="section-title">
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center line-height-1 mt-0">ماذا <span class="text-theme-colored3">نقدم</span> لك</h2>
            <p class="text-center">
                        جمعية الرازي الخيرية تستقبل كافة الحالات النفسية و العصبية لمعالجة الأطفال ذوي الإعاقة
            </p>
        </div>
        </div>
    </div>
    <div class="section-content">
        <div class="row equal-height">
        <div class="col-sm-4 col-md-4">
            <div class="icon-box-new bg-white text-center clearfix m-0 pr-20 pl-20 pt-30 pb-20 mb-40">
            <a href="~/#" class="icon icon-circled icon-md flip mb-20">
                            <i class="fa fa-graduation-cap font-32 text-white"></i>
                        </a>
                        <h3 class="icon-box-title mt-5 mb-15 letter-space-1 line-height-1">أفضل عمليات التعليم</h3>
            <p>
                            نوفر بيئة تعليمية متكاملة تلبي احتياجات الأطفال ذوي الإعاقة، من خلال مناهج مصممة خصيصًا لتعزيز مهاراتهم الأكاديمية والاجتماعية، باستخدام أحدث الأساليب التربوية والتقنيات المبتكرة.
            </p>
            
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="icon-box-new bg-white text-center clearfix m-0 pr-20 pl-20 pt-30 pb-20 mb-40">
            <a href="~/#" class="icon icon-circled icon-md flip mb-20">
                <i class="fa fa-user font-32 text-white"></i> 
            </a>
                        <h3 class="icon-box-title mt-5 mb-15 letter-space-1 line-height-1">أفضل المعلمين</h3>
            <p>
                            يعمل في الجمعية نخبة من المعلمين المتخصصين في التربية الخاصة، الذين يمتلكون خبرة واسعة في التعامل مع الأطفال ذوي الإعاقة، مما يضمن تقديم دعم تعليمي فردي يلبي احتياجات كل طفل.
            </p>
            
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="icon-box-new bg-white text-center clearfix m-0 pr-20 pl-20 pt-30 pb-20 mb-40">
            <a href="~/#" class="icon icon-circled icon-md flip mb-20">
                            <i class="fa fa-book-reader font-32 text-white"></i>
                        </a>
                        <h3 class="icon-box-title mt-5 mb-15 letter-space-1 line-height-1">أفضل الأنشطة</h3>
            <p>
                            نوفر مجموعة متنوعة من الأنشطة الترفيهية والتعليمية، بما في ذلك الفنون، والرياضة، والتفاعل الاجتماعي، لتنمية مهارات الأطفال وتعزيز ثقتهم بأنفسهم في بيئة آمنة ومحفزة.


            </p>
            </div>
        </div> 
        </div>
    </div>
    </div>
</section>

<!-- Section: blog -->
<section id="blog">
    <div class="container pb-70">
    <div class="section-title text-center">
        <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <h2 class="mt-0 line-height-1 text-center">آخر <span class="text-theme-colored3">الأخبار</span></h2>
            <p>
               نقدم إليك آخر المنشورات التي تم نشرها على الموقع
            </p>
        </div>
        </div>
    </div>
    <div class="section-content">
        <div class="row">
        @foreach(var item in Model){
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <article class="post clearfix maxwidth600 mb-30 border-1px">
                            <div class="entry-header-new mb-0">
                                <div class="post-thumb thumb">
                                    <img src="~/images/blog/1.jpg" alt="" class="img-responsive img-fullwidth">
                                </div>
                                <div class="blog-overlay"></div>
                            </div>
                            <div class="bg-white pt-30 pr-20 pl-20 pb-30 text-center">
                                <h3 class="entry-title mt-0 pt-0">
                                    <a class="text-theme-colored" href="">@item.Title</a>
                                </h3>
                                <ul class="list-inline entry-date font-13 mt-5">
                                    <li><i class="fa fa-clock-o mr-5 text-theme-colored"></i> @item.PostDate.ToShortDateString() </li>
                                </ul>
                                <p class="mt-10">
                                    @item.ShortDetails
                                </p>
                                <a class="btn btn-theme-colored btn-lg btn-flat mt-0 text-white mt-10" href="~/Home/Blog/@item.Id">عرض الخبر <i class="fa fa-angle-double-right text-theme-colored2"></i></a>
                            </div>
                        </article>
                    </div>
        }
        </div>
    </div>
    </div>
</section>


<script>
    function AddContact(){
        $("#btnAdd").addClass('d-none');
        $.ajax({
        type: 'POST',
        url: '/Home/AddContact',
        data: { fullName: $("#reservation_name").val(),message: $("#reservation_phone").val(),phoneNumber: $("#form_message").val() },
        success: function (result) {
             $("#note").empty();
            $("#btnAdd").addClass('d-none');
            $("#note").append('<p style="color:green"><b>تمت العملية بنجاح</b></p>');
            $("#btnAdd").removeClass('d-none');
        }
    });
    }
</script>