
@{
    ViewData["Title"] = "لوحة التحكم";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">لوحة التحكم</li>
                </ol>
            </div>
            <h4 class="page-title">لوحة التحكم</h4>
        </div>
    </div>
</div>
<!-- end page title -->
