@using Alrazi.Models.Test
@model TestStanfordBinet
@{
    ViewData["Title"] = "GetTestPortgeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>if (confirm("هل ترغب في طباعة الصفحة ؟")) { print(); }</script>

<p>

    العمر الاجتماعي
    يحدد مستوى أداء الطفل على المهارات الاجتماعية كالتفاعل مع الآخرين من أقارب وأصدقاء، وكذلك حسن التصرف في المواقف الاجتماعية التي يواجهها الطفل.
    العمر الاجتماعي للطفل: 6سنين   و 6 شهور.          نسبة الأداء: (56%)        مستوى الأداء: تأخر بسيط.
    أي يوجد لدى الطفل تأخر بسيط في البعد الاجتماعي مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.
    العمر المعرفي
    يحدد مستوى أداء الطفل على المهارات المعرفية الخاصة بمرحلة ما قبل المدرسة وفي المرحلة الأساسية الأولى مثل الإشارة إلى الألوان وتسمية الصور ومطابقة الأشكال الهندسية.
    العمر المعرفي للطفل: 5سنين   و  شهرين.       نسبة الأداء: (44%)         مستوى الأداء: تأخر متوسط.
    أي يوجد لدى الطفل تأخر متوسط في البعد المعرفي مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.
    العمر الاتصالي
    يحدد مستوى أداء الطفل في المهارات التواصلية من لغة استقبالية وتعبيرية.
    العمر الاتصالي للطفل: 4سنين   و 4 شهور.          نسبة الأداء: (37%)           مستوى الأداء: تأخر شديد .
    أي لدى الطفل  تأخر شديد  في البعد الاتصالي مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.
    العمر في العناية بالذات
    يحدد مستوى أداء الطفل على مهارات العناية الذاتية مثل تحمل الطفل للمسؤولية واعتماده على نفسه في المأكل، الملبس، وقضاء حاجاته الخاصة.
    العمر في العناية بالذات للطفل: 6سنين   و 6 شهور.       نسبة الأداء: (56%)        مستوى الأداء: تأخر بسيط.
    أي يوجد لدى الطفل تأخر بسيط في بُعد العناية الذاتية مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.
    العمر الحركي
    يحدد مستوى أداء الطفل على المهارات الحركية الكبيرة مثل المشي والقفز، والمهارات الحركية الدقيقة كاستعمال المقص أو العمل بالمعجون.
    العمر الحركي للطفل: 5سنين   و 4 شهور.         نسبة الأداء: (46%)           مستوى الأداء: تأخر متوسط.
    أي يوجد لدى الطفل تأخر متوسط في البُعد الحركي مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.



</p>

